<html>
<head>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
button {
  color:white;
  border:1px solid gray;
  border-radius:5px;
  background:green;
  cursor:pointer;
  width:200px;
  height:70px;
  padding:0;
  position:relative;
   outline:none;
}
#progress {
  width:0px;
  height:70px;
 background-color:darkgreen; /*set desired color*/
 position:absolute;
 left:0;
 top:0;
 z-index:2;
 border-radius:5px;


}
#progress.anima {
  width:200px;
  transition: width 2s ease; 
}
#bar {
  position:relative;
}
span {
  z-index:9;
  position:relative;
  text-transform:uppercase;
}
}
</style>
<script>


    function addOption(o,nw){
        var v = nw;
        if(v == 'Select One...') v = '';
        o.options[o.options.length] = new Option(nw, v, false, false);
    }

    function init(){

        var os = document.getElementById('os');
        var ve = document.getElementById('ve');
        var co = document.getElementById('co');
        var genome = document.getElementById('genome');
        var g1 = document.getElementById('g1');
        var g2 = document.getElementById('g2');
        var ph = document.getElementById('ph');
        var ph2 = document.getElementById('ph2');
        var av = document.getElementById('av');
        var bv = document.getElementById('bv');
        var av2 = document.getElementById('av2');
        var bv2 = document.getElementById('bv2');
        var sub = document.getElementById('sub');
        var sub2 = document.getElementById('sub2');
        var r1 = document.getElementById('r1');
        var ex = document.getElementById('ex');
        var ex2 = document.getElementById('ex2');
        var submit = document.getElementById('submit');
        var add = document.getElementById('add');
        var add2 = document.getElementById('add2');
     


        av2.style.visibility = "hidden";
        bv2.style.visibility = "hidden";
        sub.style.visibility = "hidden";
        add.style.visibility = "hidden";
        sub2.style.visibility = "hidden";
        add2.style.visibility = "hidden";



        os.addEventListener("change", function(){
            ve.options.length = 0;
            co.options.length = 0;
            var sel = os.options[os.selectedIndex].value;
            if(sel == 'GRAY'){
                addOption(ve,'Select One...');
                addOption(ve,'NOV-2017');
                addOption(co,'Standard');
            } else if (sel == 'CCLE'){
                addOption(ve,'Select One...');
                addOption(ve,'AUG-2013');
                addOption(co,'Novartis');
            
            }
        });

            genome.addEventListener("change", function(){
            g1.options.length = 0;
            g2.options.length = 0;

            var sel = genome.options[genome.selectedIndex].value;
            if(sel == 'GRCh38'){
                addOption(g1,'Select One...');
                addOption(g1,'BroadInstitute dbSNP v138 / COSMIC v79 Mutations');
                addOption(g2,'Gencode v23 Transcriptome');
                addOption(g2,'Ensembl GRCh38 v89 Transcriptome');


            } else if (sel == 'GRCh19'){
                addOption(g1,'Select One...');
                addOption(g1,'BroadInstitute dbSNP v138 / COSMIC v79 Mutations');
                addOption(g2,'Gencode v23lift37 Transcriptome');
                addOption(g2,'Ensembl GRCh37 v67 Transcriptome');
            
            }
        });



        av.addEventListener("change", function(){
            document.getElementById('add').style.visibility = "visible";
        });

        bv.addEventListener("change", function(){
            document.getElementById('add2').style.visibility = "visible";
        });



        ph.addEventListener("change", function(){
            var sel = ph.options[ph.selectedIndex].value;
            av.options.length = 0;
            av2.options.length = 0;
            add.style.visibility = 'hidden';
            av2.style.visibility = 'hidden';
            sub.style.visibility = 'hidden';

            if(sel == 'DNA'){
                addOption(av,'Select One...');
                addOption(av,'MuTect-2:(GATK 3.6)');
                addOption(av,'MuTect-1.1.5');
                

            
            } 
        });


        ph2.addEventListener("change", function(){
            var sel = ph2.options[ph2.selectedIndex].value;
            bv.options.length = 0;
            bv2.options.length = 0;
            add2.style.visibility = 'hidden';
            bv2.style.visibility = 'hidden';
            sub2.style.visibility = 'hidden';

            if (sel == 'RNA'){
                addOption(bv,'Select One...');
                addOption(bv,'Kallisto: 0.44.0');
                addOption(bv,'Kallisto: 0.43.1');
                addOption(bv,'Salmon: 11.3');
                addOption(bv,'Salmon: 11.2');


            }
        });



        add.addEventListener("click", function(){
            av2.options.length = 0;
            var sel = ph.options[ph.selectedIndex].value;
            var sel2 = av.options[av.selectedIndex].value;
            document.getElementById('av2').style.visibility = "visible";
            document.getElementById('sub').style.visibility = "visible";

            if(sel == 'DNA'){
                if(sel2 != 'MuTect-1.1.5'){
                    addOption(av2,'MuTect-1.1.5');
                    av.options.length = 0;
                    addOption(av,'MuTect-2:(GATK 3.6)');
                } 
                if(sel2 != 'MuTect-2:(GATK 3.6)'){
                    addOption(av2,'MuTect-2:(GATK 3.6)');
                    av.options.length = 0;
                    addOption(av,'MuTect-1.1.5');
                } 


            }             
        });


        add2.addEventListener("click", function(){
            bv2.options.length = 0;
            var sel = ph2.options[ph2.selectedIndex].value;
            var sel2 = bv.options[bv.selectedIndex].value;
            document.getElementById('bv2').style.visibility = "visible";
            document.getElementById('sub2').style.visibility = "visible";

            if (sel == 'RNA'){
                if(sel2 != 'Kallisto: 0.44.0') { 
                    if(sel2 == 'Salmon: 11.3'){
                    addOption(bv2,'Kallisto: 0.44.0');
                    addOption(bv2,'Kallisto: 0.43.0');
                    bv.options.length = 0;
                    addOption(bv,'Salmon: 11.3');
                    }else if (sel2 == 'Salmon: 11.2'){
                    addOption(bv2,'Kallisto: 0.44.0');
                    addOption(bv2,'Kallisto: 0.43.0');
                    bv.options.length = 0;
                    addOption(bv,'Salmon: 11.3');

                    }
                    else {
                    addOption(bv2,'Kallisto: 0.44.0');
                    addOption(bv2,'Salmon: 11.3');
                    addOption(bv2,'Salmon: 11.2');
                    bv.options.length = 0;
                    addOption(bv,'Kallisto: 0.43.1');}
                }
                if(sel2 != 'Kallisto: 0.43.1'){
                    if(sel2 == 'Salmon: 11.3'){
                    addOption(bv2,'Salmon: 11.2');
                    bv.options.length = 0;
                    addOption(bv,'Salmon: 11.3');
                    }else if (sel2 == 'Salmon: 11.2'){
                    addOption(bv2,'Salmon: 1');
                    bv.options.length = 0;
                    addOption(bv,'Salmon: 11.2');
                    }else{
                    addOption(bv2,'Kallisto: 0.43.1');
                    addOption(bv2,'Salmon: 11.3');
                    addOption(bv2,'Salmon: 11.2');
                    bv.options.length = 0;
                    addOption(bv,'Kallisto: 0.44.0');}
                }  




            }            
        });


        sub.addEventListener("click", function(){  // remove second version


            var sel3 = ph.options[ph.selectedIndex].value;

            av2.options.length = 0;
            av2.style.visibility = 'hidden';
            sub.style.visibility = 'hidden';
            
            av.options.length = 0;
            if(sel3 == 'DNA'){
                addOption(av,'Select One...');
                addOption(av,'MuTect-1.1.5');
                addOption(av,'MuTect-2:(GATK 3.6)');



            }

            document.getElementById('avr').innerHTML = av.options[av.selectedIndex].value;

        });


        sub2.addEventListener("click", function(){  // remove second version


            var sel3 = ph2.options[ph2.selectedIndex].value;

            bv2.options.length = 0;
            bv2.style.visibility = 'hidden';
            sub2.style.visibility = 'hidden';
            
            bv.options.length = 0;
           if (sel3 == 'RNA'){
                addOption(bv,'Select One...');
                addOption(bv,'Kallisto: 0.44.0');
                addOption(bv,'Kallisto: 0.43.1');
                addOption(bv,'Salmon: 11.3');
                addOption(bv,'Salmon: 11.2');
            }

            document.getElementById('bvr').innerHTML = bv.options[bv.selectedIndex].value;

        });

        var progressBtn = document.getElementById('progress_btn');
        var progressElement = document.getElementById('progress_bar');
        var submitText = document.getElementById('submit_text');

        btn.addEventListener("click", function(){

            btn=document.getElementById('btn');
            prog=document.getElementById('progress');
            text=document.getElementById('text');

           
        prog.classList.add('anima');
            prog.addEventListener("transitionend", function(event) {
            text.textContent="PSet Submitted";
        }, false);




            document.getElementById('osr').innerHTML = os.options[os.selectedIndex].value;
            document.getElementById('genomer').innerHTML = genome.options[genome.selectedIndex].value;
            document.getElementById('g1r').innerHTML = g1.options[g1.selectedIndex].value;
            document.getElementById('g2r').innerHTML = g2.options[g2.selectedIndex].value;
            document.getElementById('verr').innerHTML = ve.options[ve.selectedIndex].value;
            document.getElementById('corr').innerHTML = co.options[co.selectedIndex].value;
            document.getElementById('phr').innerHTML = ph.options[ph.selectedIndex].value;
            document.getElementById('phr2').innerHTML = ph2.options[ph2.selectedIndex].value;
            ele = document.getElementById("to");

            
            if(av2.options.length > 0){
                document.getElementById('avr').innerHTML = av.options[av.selectedIndex].value + "<br>" +
                                                     av2.options[av2.selectedIndex].value;
                avr = av.options[av.selectedIndex].value + " " + av2.options[av2.selectedIndex].value
            } else {
                document.getElementById('avr').innerHTML = av.options[av.selectedIndex].value;
                avr = av.options[av.selectedIndex].value;
            }


            if(bv2.options.length > 0){
                document.getElementById('bvr').innerHTML = bv.options[bv.selectedIndex].value + "<br>" +
                                                     bv2.options[bv2.selectedIndex].value;
                bvr = bv.options[bv.selectedIndex].value + " " + bv2.options[bv2.selectedIndex].value
            } else {
                document.getElementById('bvr').innerHTML = bv.options[bv.selectedIndex].value;
                bvr = bv.options[bv.selectedIndex].value;
            }    



            // Making an AJAX call to the server
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/execute", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({
                osr: os.options[os.selectedIndex].value,
                genomer: genome.options[genome.selectedIndex].value,
                g1r: g1.options[g1.selectedIndex].value,
                g2r: g2.options[g2.selectedIndex].value,
                verr: ve.options[ve.selectedIndex].value,
                corr: co.options[co.selectedIndex].value,
                phr: ph.options[ph.selectedIndex].value,
                phr2: ph2.options[ph2.selectedIndex].value,
                email: ele.value,
                avr: avr,
                bvr: bvr



               

            }));



        

        });

           
         


    }
    	
    window.addEventListener("DOMContentLoaded",init,false);
    




</script>

</head>

<body>

    <div class="container-fluid" style="width:90%">

        Pachyderm Pipeline Selection<br>

        <div class="row">
            <div class="col">
              <label for="os">Dataset</label>
              <select id="os" class="form-control"="">
                <option style="font-size:50px;" value="">Select One...</option>
                <option value="GRAY">GRAY</option>
                <option value="CCLE">CCLE</option>
              </select>


            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="ve">Dataset Version</label>
              <select id="ve" class="form-control">
              </select>
            </div>

          </div>
            <div class="row">
            <div class="col">
              <label for="genome">Genome</label>
              <select id="genome" class="form-control">
                <option value="">Select One...</option>
                <option value="GRCh38">GRCh38</option>
                <option value="GRCh19">GRCh19</option>
              </select>

            </div>
          </div>
          <div class="row">
            <div class="col">
                <label for="co">Drug Sensitivity</label>
                <select id="co" class="form-control">
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              
            
              <label for="ph">Datatype 1</label>
              <select id="ph" class="form-control">
                  <option value="">Select One...</option>
                  <option value="DNA">DNA</option>
                  
              </select>
            </div>
          </div>
          
          <div class="row" >

                <div class="col">
                  <label for="av">Tool + Version</label>
                  <select id="av" class="form-control" required>
                  </select>

                </div>

                <div class="col-1">  <br>
                    <button id="add" class="btn btn-primary form-control btn-sm">+</button>
                </div>

            </div>

            <div class="row" id="ex">

                <div class="col">
                  <select id="av2" class="form-control" required>
                  </select>
                </div>

                <div class="col-1">
                    <button id="sub" class="btn btn-primary form-control btn-sm">-</button>
                </div>

            </div>



            <div class="row">
            <div class="col">
              

            <div class="row">
            <div class="col">
              <label for="g1">DNA Tool Reference</label>
              <select id="g1" class="form-control">
              </select>
            </div>

          </div>
              <label for="ph2">Datatype 2</label>
              <select id="ph2" class="form-control">
                  <option value="">Select One...</option>
                  <option value="RNA">RNA</option>
              </select>
            </div>
          </div>
          
          <div class="row" >

                <div class="col">
                  <label for="bv">Tool + Version</label>
                  <select id="bv" class="form-control" required>
                  </select>

                </div>

                <div class="col-1">  <br>
                    <button id="add2" class="btn btn-primary form-control btn-sm">+</button>
                </div>

            </div>

            <div class="row" id="ex2">

                <div class="col">
                  <select id="bv2" class="form-control">
                  </select>
                </div>

                <div class="col-1">
                    <button id="sub2" class="btn btn-primary form-control btn-sm">-</button>
                </div>

            </div>

            <div class="row">
            <div class="col">
              <label for="g2">RNA Tool Reference</label>
              <select id="g2" class="form-control">
              </select>
            </div>

          </div>
          <br><br>

           <form action="#" >
            <div>
                <label for="os">Enter Email for Custom PSet Link</label>
                <input id="to" name="to" value="" required>
                </div>
            <div>
            </div>
          </form>

          <div id="bar">
            <button id="btn">
            <span id="text">SUBMIT</span>
            </button>
            <div id="progress">
        </div>
        </div>


            <br> 

          <div  id="res" class="container"><br>You have selected:
            <br><br><div class="row" >
              <b><u>Dataset:</u></b> &nbsp; <span id="osr"></span>
            </div>
            <br><div class="row">
                    <b><u>Dataset Version:</u></b> &nbsp; <span id="verr"></span>
            </div>
            <br><div class="row">
                    <b><u>Genome:</u></b> &nbsp; <span id="genomer"></span>
            </div>
            <br><div class="row">
                    <b><u>Drug Sensitivity:</u></b> &nbsp; <span id="corr"></span>
            </div>
            <br><div class="row">
                    <b><u>Data Type 1:</u></b> &nbsp; <span id="phr"></span>
               
            </div>
            <br><div class="row">
                    <b><u>Tool + version:</u></b> &nbsp; <span id="avr"></span>
            </div>
            <br><div class="row">
                    <b><u>DNA Tool Reference:</u></b> &nbsp; <span id="g1r"></span>
            </div>
            <br><div class="row">
                    <b><u>Data Type 2:</u></b> &nbsp; <span id="phr2"></span>
            </div>
            <br><div class="row">
                    <b><u>Tool + version:</u></b> &nbsp; <span id="bvr"></span>

            </div>
            <br><div class="row">
                    <b><u>RNA Tool Reference:</u></b> &nbsp; <span id="g2r"></span>
            </div>

          </div>

          <br><div class="row">
                    <b><u>Email:</u></b> &nbsp; <span id="email"></span>
            </div>

          </div>
          <br>
          <br>
          <br>
          <br>


      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>